@model CarSeller.Models.Car; 
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div>
        <div>
            <div>
            <label asp-for="Brand"></label>
            <p>Car</p>
            <select id="mySelect" class="custom-select" asp-for="Brand"
                    asp-items="Html.GetEnumSelectList<CarBrand>()">
                <option value="">Car</option>
            </select>
            <span asp-validation-for="Brand" class="text-danger"></span>
            <label asp-for="Brand"></label>
            </div>
            <div>
            <label asp-for="Brand"></label>
            <p>Model</p>
            <select id="mySelect" class="custom-select" asp-for="Brand"
                    asp-items="Html.GetEnumSelectList<CarBrand>()">
                <option value="">Car</option>
            </select>
            <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            </div>
           <div>
            <button>Search</button>
           </div>
    </<div>
</div>
